# LIGHTNING_API_KEY=
# GROQ_API_KEY=
# OPENCODE_API_KEY=

# ABUSEIPDB_API_KEY=


# TELEGRAM_BOT_TOKEN=
# TELEGRAM_ALLOWLIST=
# API_PORT=
# AGENT_MEMORY_MAX=
# OBSIDIAN_VAULT_PATH=


# EMAIL_IMAP_SERVER=
# EMAIL_IMAP_PORT=
# EMAIL_SMTP_SERVER=
# EMAIL_SMTP_PORT=
# EMAIL_ADDRESS=
# EMAIL_PASSWORD=

# KINETIC_SANDBOX_IMAGE=
# KINETIC_SANDBOX_MEMORY=
# KINETIC_SANDBOX_CPU=
# KINETIC_SANDBOX_TIMEOUT=
# RATE_LIMIT_RETRY_SECONDS=


# OPENCODE_WORKSPACE=
# OPENCODE_DEFAULT_MODEL=


# POWERPOINT_MODEL=
# POWERPOINT_API_KEY=
# POWERPOINT_BASE_URL=


